/* Importação de Fontes */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* ===============================
    Body Styles 
   =============================== */
:root {
  --lgreen:#C6F602 ;
  --dgreen: #99ca06;
  --newblack:#111111;
}
/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* ===============================
    Body Styles 
   =============================== */
body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff; /* Cor de fundo principal */
  color: #000000; /* Cor do texto principal */
  line-height: 1.6;
}

/* ===============================
    Container Principal 
   =============================== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* ===============================
    Links 
   =============================== */
a {
  color: var(--lgreen); /* Cor padrão dos links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--dgreen) ;
}

/* ===============================
    Titulos 
   =============================== */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

/* ===============================
    Home
   =============================== */
.home-text-container {
  
  /* background-color: #f0f0f0; */
  position: absolute;
  left: 12%; /* Move o container para o centro horizontal */
  top: 40%; /* Move o container para o centro vertical */
  transform: translate(-50%, -50%); /* Corrige o deslocamento causado pela metade da largura e altura do próprio elemento */
  transform:scale(1.5);
  padding: 20px;
}
  /* teste */
/* Estilos personalizados para os botões */
.container-button {
  display: flex;
  gap: 10px; /* Espaçamento entre os botões */
}

.hire-button {
  background-color: var(--newblack); /* Cor de fundo para o botão "Me contrate" */
  color: var(--lgreen); /* Cor do texto para o botão "Me contrate" */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hire-button:hover {
  background-color: var(--dgreen); /* Cor de fundo ao passar o mouse sobre o botão "Me contrate" */
}

.learn-more-button {
  background-color: var(--newblack); /* Cor de fundo para o botão "Saiba mais" */
  color: var(--lgreen); /* Cor do texto para o botão "Saiba mais" */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.learn-more-button:hover {
  background-color: var(--dgreen); /* Cor de fundo ao passar o mouse sobre o botão "Saiba mais" */
}
/* Titulos da HomePage */

.h1-home{
  font-size: 50px;  
  letter-spacing: 5px;
}
.h2-home {
  font-size: 30px;
}
.h3-home {
  font-size: 18px;
}


/* ===============================
    Temp 
   =============================== */
.text-center {
  text-align: center;
}
/* ===============================
    Topbar 
   =============================== */

.topbar {
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background: var(--newblack);
  padding: 15px 7%;
}
.logo {
  width: 250px;
  cursor: pointer;
}


ul {
  flex: 1 ;
  list-style: none;
  text-align: center;
  color:var(--lgreen);
}

ul li {
    display: inline-block;
    margin: 10px 20px; 
    font-size: 18px;
    cursor:pointer /* Quando o cursor passa por cima,ele fica com o icone de pointer  */
}

