/* Importação de Fontes */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* Body Styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff; /* Cor de fundo principal */
  color: #333333; /* Cor do texto principal */
  line-height: 1.6;
}

/* Container Principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Links */
a {
  color: #007bff; /* Cor padrão dos links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

/* Botões */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #f61a1a; /* Cor do botão ao passar o mouse */
}



/* Outras Classes Úteis */
.text-center {
  text-align: center;
}
/* Topbar */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #c1baba; /* Cor de fundo da topbar */
  color: #ffffff; /* Cor do texto da topbar */
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.topbar-logo {
  width: 150px; /* Ajuste conforme necessário */
}

.topbar-segment {
  display: flex;
  align-items: center;
}

.topbar-menu {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.topbar-menu-item {
  margin: 0;
  
}

.topbar-link {
  color: #ffffff; /* Cor dos links da topbar */
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.topbar-link:hover {
  text-decoration: underline;
}
